Package: jc
Name: Cmemorynew
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: JailCatTeam
Author: JailCatTeam
Section: Tweaks
Version: 0.0.1-36
Installed-Size: 268
