Package: jc
Name: Cmemorynew
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: JailCatTean
Author: JailCatTean
Section: Tweaks
Version: 0.0.1-17
Installed-Size: 72
